.profile__square {
    border: 1px solid #FFFFFF;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 15px;
    cursor: pointer;
    transition: opacity;
    background-color: black;
    background-image: url(../../../images/pen1.svg);
    background-position: center;
    object-fit: contain;
    background-repeat: no-repeat;
    padding: 0;
    background-size: 10px;
}

.profile__square:hover {
    opacity: .6;
}

@media screen and (max-width: 610px) {
    .profile__square {
        width: 18px;
        height: 18px;
        margin-top: 8px;
        background-size: 7.5px;
    }
}