.popup__button-close {
    width: 32px;
    height: 32px;
    padding: 0;
    background-image: url(../../../images/CloseIcon.svg);
    background-repeat: no-repeat;
    object-fit: cover;
    border: none;
    position: absolute;
    top: -40px;
    right: -40px;
    transition: opacity;
    cursor: pointer;
    background-color: transparent;
}

.popup__button-close:hover {
    opacity: .6;
}

@media screen and (max-width: 610px) {
    .popup__button-close {
        width: 20px;
        height: 20px;
        top: -36px;
        background-image: url(../../../images/CloseIconmini.svg);
        right: -36px;
    }
}