.popup__block {
    width: 430px;
    border-radius: 10px;
    background-color: #fff;
    box-sizing: border-box;
    align-self: center;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 36px 37px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 610px) {
    .popup__block {
        padding: 0 22px 25px;
        width: 282px;
    }
}